<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles/index.css" />
    <title>Arjun Kashyap</title>
  </head>
  <body>
    <div style="overflow: hidden">
      <div class="sidebar">
        <h1 class="header">Arjun Kashyap</h1>
        <h4 class="sub-header">
          Software Engineer <br />
          ML Enthusiast <br />
          Reader / Thinkers
        </h4>
        <hr />
        <a class="active" href="#home">Blog</a>
        <a href="#news">About Me</a>
        <a href="#contact">Projects</a>
      </div>

      <div class="content container">
        <br />
        <a href="/articles/new">here</a>
        <% articles.forEach(article => {%>
        <a
          href="/articles/<%=article.slug %>"
          style="text-decoration: none; color: inherit"
        >
          <div class="card mt-4">
            <div class="card-body">
              <h1 class="blog-title"><%= article.title %></h1>

              <div class="card-subtitle text-muted mb-2">
                <%= article.date.toLocaleDateString() %>
              </div>

              <div class="card-text mb-2"><%= article.description %></div>
              <form
                action="/articles/<%= article.id %>?_method=DELETE"
                method="POST"
                class="d-inline"
              >
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </a>

        <% }) %>
      </div>
    </div>

    <!-- Bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
